<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
      <img src="https://media.istockphoto.com/id/515708494/photo/mahatma-gandhi-hall.jpg?s=612x612&w=0&k=20&c=0r0tu3VAbZdmf4RlwI3Q-xZjiMa4abSfsvnDxHVlGCo=" alt="no image found" width="100" height="50" class="d-inline-block align-text-center">
      <div><%= link_to "Login" ,"sessions/new",{class:"btn btn-success"}%>
      <%= link_to "Sign Up", new_user_path ,{class:"btn btn-info"}%></div>
  </div>  
</nav><br>






<div class="container" style="border:2px solid black;padding:20px">
<h1 style="text-align:center">Current <i><b style="color:green">ACTIVE</b></i> Task!!!</h1><br>
  <div class="row g-4">
    <% @tasks.each do |task|%>  
      <% if task.status == "ACTIVE"%>
    <div class="col-4" style="border:2px solid black;text-align:center">
    <div class="row">
        Task Id : <%= task.id %><br>
      </div>
      <div class="row">
        User Id : <%= task.user_id %><br>
      </div>
      <div class="row">
        Category : <%= task.category %><br>
      </div>
      <div class="row">
        Description : <%= task.description %><br>
      </div>
      <div class="row">
        Amount : <%= task.amount %> /-<br>
      </div>
      <div class="row">
        <%= link_to "Book" , new_user_task_worker_path(task.user_id,task.id)%>
      </div>
    </div>

      <%end%>
    <%end%>
  </div>
</div>